.page-wrapper {
  max-width: $max-site-width;
  margin: 0 auto;
}

.page-container {
  padding: calc( #{$gutter--narrower} + #{.625vw} );

  @include breakpoint($max-site-width) {
    padding: calc( #{$gutter--narrower} + #{$max-site-width/100 * strip-unit(.625vw)} );
  }
}

.section-outer {
  background-color: $section-bg-color;
  padding: ($gutter--narrow * 1.2) ($gutter--narrow * 1.3);

  margin-bottom: calc( #{$gutter--narrowest/2} + #{.625vw} );

  @include breakpoint($max-site-width) {
    margin-bottom: calc( #{$gutter--narrowest/2} + #{$max-site-width/100 * strip-unit(.625vw)} );
  }

  border-radius: $gutter--narrowest;
  box-shadow: inset 0 0 4em mix($black, transparent, 8%);

  &--navigation {
    background-color: transparent;
    box-shadow: none;
    padding-top: .4em;
    padding-bottom: .4em;
  }

}

.not-admin-route {

  .section-outer--info {
    display: none;
  }
}
