.paragraph--portfolio-item {
  display: flex;

  .image {
    display: none;
    flex: none;

    @include breakpoint($md-up) {
      display: block;
    }
  }

  .image .inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 1em;
    border: 1px solid mix($color__primary, transparent, 20%);
    overflow: hidden;
  }

  .image .inner a {
    object-fit: contain;
    object-position: 50% 50%;
    display: block;
    height: inherit;
    width: inherit;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  .image .inner a.shadow {
    box-shadow: inset 0 0 1.25em mix($black, transparent, 25%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:hover {
      box-shadow: inset 0 0 .75em mix($black, transparent, 20%);
    }
  }

  .text {
    flex: 3;

    h4.paragraph-title {
      font-size: 1.125em;
      line-height: 1.2;
      padding: 0;
      margin-bottom: 0;
    }

    a.paragraph-link {
      display: block;
      margin-bottom: $gutter--narrower;
    }
  }
}
