// sass-lint:disable no-css-comments
/**
 * Partial for adding standard breakpoint variables
 */
// @import "breakpoint";
// Breakpoint control variables
// $breakpoint-to-ems: true;

$xxs: 0;
$xs: 320px;
$sm: 544px;
$md: 800px;
$lg: 960px;
$xl: 1100px;
$max-site-width: $xl;

//Breakpoint variables
$xxs-only: $xxs ($xs - 1);
$xxs-up: $xxs;
$xxs-down: 0 $xxs;

$xs-only: $xs ($sm - 1);
$xs-up: $xs;
$xs-down: 0 $xs;

$sm-only: $sm ($md - 1);
$sm-up: $sm;
$sm-down: 0 $sm;

$md-only: $md ($lg - 1);
$md-up: $md;
$md-down: 0 $md;

$lg-only: $lg ($xl - 1);
$lg-up: $lg;
$lg-down: 0 $lg;

$xl-only: $xl;
$xl-up: $xl;
$xl-down: 0 $xl;

.breakpoint-info {
  &:after {
    @include breakpoint($xxs) {
      content: ' ($xxs)';
    }
    @include breakpoint($xs) {
      content: ' ($xs)';
    }
    @include breakpoint($sm) {
      content: ' ($sm)';
    }
    @include breakpoint($md) {
      content: ' ($md)';
    }
    @include breakpoint($lg) {
      content: ' ($lg)';
    }
    @include breakpoint($xl) {
      content: ' ($xl)';
    }
  }
}
