{% if site_logo %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  </a>
{% endif %}

{% if site_name %}
  <div class="site-name">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  </div>
{% endif %}

{% if site_slogan %}
  <div class="site-slogan"><div class="inner">{{ site_slogan }}</div></div>
{% endif %}
